* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

h1 {
    width: 50%;
    margin: 16px auto;
    text-align: center;
}

section {
    width: 36%;
    margin: auto;
    border-top: 3px solid black;
}

form {
    max-width: 360px;
    margin: 16px auto;
}

.form-campo {
    margin-bottom: 8px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input {
    display: block;
    width: 100%;
    padding: 8px;
}

form button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: aquamarine;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}