* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 66, 60);
    color: aliceblue;
}

.container {
    margin: 80px auto;
    max-width: 640px;
}

h1 {
    margin-bottom: 20px;
}

input, button {
    display: block;
    width: 70%;
    margin-bottom: 8px;
    padding: 8px;
}

button {
    background-color: rgb(112, 180, 164);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(152, 238, 218)
}

#msg-sucesso {
    display: none;
    width: 70%;
    padding: 16px;
    background-color: rgb(0, 128, 0);
    color: white;
}

#msg-erro {
    display: none;
    width: 70%;
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgb(196, 0, 0);
    color: white;
}

input.erro {
    color: red;
    border-color: red;
    outline-color: red;
}